<div class="container py-5 text-light">
  <div class="row justify-content-start">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="card login-card text-light">
        <div class="card-body">
          <h3 class="mb-3 text-center">Portal do Aluno</h3>

          <div class="btn-group w-100 mb-3">
            <button 
              class="btn tab-btn" 
              [class.active]="mode === 'login'" 
              (click)="switch('login')" >Entrar</button>

            <button 
              class="btn tab-btn" 
              [class.active]="mode === 'register'" 
              (click)="switch('register')">Criar conta</button>
          </div>


          <div *ngIf="errorMsg" class="alert alert-warning">{{ errorMsg }}</div>

          <form *ngIf="mode==='login'" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
            <div class="mb-3">
              <label class="form-label">E-mail</label>
              <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
              <label class="form-label">Senha</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
            <button 
              class="btn btn-success w-100" routerLink="/Home"
              [disabled]="loginForm.invalid || loading" 
              >
              Acessar
            </button>
            <div class="text-center mt-2" *ngIf="mode==='login'">
              <button type="button" class="btn btn-link p-0" (click)="forgotPassword()">
                Esqueceu sua senha?
              </button>
            </div>
          </form>

          <form *ngIf="mode==='register'" [formGroup]="registerForm" (ngSubmit)="submitRegister()">
            <div class="mb-3">
              <label class="form-label">Nome</label>
              <input class="form-control" formControlName="name">
            </div>
            <div class="mb-3">
              <label class="form-label">E-mail</label>
              <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
              <label class="form-label">Senha</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-success w-100" [disabled]="registerForm.invalid || loading">Criar conta</button>
          </form>

          <!-- ====== Barra Superior ====== -->
          <header class="topbar d-flex justify-content-between align-items-center px-4 py-2">
            <div class="topbar__logo d-flex align-items-center">
              <img src="/img/logo.png" alt="Logo do Projeto" class="topbar__img me-2">
              <span class="fw-bold text-light fs-5">Moneva</span>
            </div>

            <button class="btn btn-outline-success btn-sm topbar__btn">Saiba mais</button>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>