/* ======= RESET ======= */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #151617;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.nav-link.active {
  font-weight: bold;
  color: #00ff88 !important;
}

.card {
  border-radius: 14px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(0, 255, 136, 0.3);
}

.btn-success {
  background: linear-gradient(90deg, #00b37e, #00ff88);
  border: none;
}

.btn-success:hover {
  background: linear-gradient(90deg, #00ff88, #00b37e);
}

/* Ajustes visuais */
h4, h5, h6 {
  color: #00ff88;
}

p {
  color: #cfcfcf;
}

.card p.small {
  color: #bdbdbd;
}

main {
  overflow-y: auto;
  max-height: 100vh;
}
